
.container{
    width: calc(100% - 120px);
    margin:  auto;
}
.recipes .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.recipes .row img{
   width: 400px ;
   height: 400px ;
}